<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FeedZieApp"
        tools:targetApi="31">
        <activity android:name=".UserdataActivity"
            android:exported="true"/>
        <activity android:name=".History"
            android:exported="true"/>
        <activity android:name=".MyPin" />
        <activity android:name=".About" />
        <activity android:name=".FoodMap" />
        <activity android:name=".Donate"/>
        <activity android:name=".mission"/>
        <activity android:name=".LocateNGOFragment"/>
        <activity android:name=".NgoInfo"/>
        <activity android:name="NgoInfoAdapter"/>
        <activity android:name=".Dashboard"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBtAubRGSlTZanGLTPT3JrKWsRCFAXZzrE" />

        <activity android:name=".Receive" />
        <activity android:name=".Contact"
            android:exported="true"/>
        <activity android:name=".Signup" />
        <activity android:name=".Logup"
            android:exported="true"/>
        <activity android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".landingpage" />
        <activity android:name=".ResetPasswordActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>
</manifest>